# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# %%% IGNORED FILES/FOLDERS FOR GEOGRAPHIC GENETIC CORRELATION PROJECT %%%
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

# The files and folders specified in this file are not tracked in the GitHub repository for the GeoGenCorr project. 
# A brief explanation of each file is provided above each one, and files are largely grouped by folders.

# Any Rhistory/Rdata files
*.Rhistory
*.RData

# Folder of GIS files (for geographic/ecological analyses). Included in this folder are the .shp files used for 
# calculating geographic range for different species. These are two large (> 50MB) to be included on the repository.
GIS_shpFiles/

# STRUCTURE input file for Pinus contorta dataset. This file is referenced in the PICO_demo.R script, but is too large
# (> 50MB) to be included on the repository.
Datasets/PICO/Genetic/Pine_NaturalComp_85SNPfilter.stru
