# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# %%% IGNORED FILES/FOLDERS FOR GEOGRAPHIC GENETIC CORRELATION PROJECT %%%
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

# The files and folders specified in this file are not tracked in the GitHub repository for the GeoGenCorr project. 
# A brief explanation of each file is provided above each one, and files are largely grouped by folders.

# Any Rhistory/Rdata/Rproj files
*.Rhistory
*.RData
*.Rdata
*.Rproj*

# Any output files
*.out
Datasets/Outputs_Archive/
Datasets/*/resamplingData/*.csv
Datasets/*/reasmplingData/
# EXCEPTION: keep track of the GeoOpt_AltGenMets.Rdata files, for each dataset
!Datasets/AMTH/resamplingData/AMTH_GeoOpt_AltGenMets.Rdata
!Datasets/ARTH/resamplingData/ARTH_GeoOpt_AltGenMets.Rdata
!Datasets/COGL/resamplingData/COGL_GeoOpt_AltGenMets.Rdata
!Datasets/HIWA/resamplingData/HIWA_GeoOpt_AltGenMets.Rdata
!Datasets/MIGU/resamplingData/MIGU_GeoOpt_AltGenMets.Rdata
!Datasets/PICO/resamplingData/PICO_GeoOpt_AltGenMets.Rdata
!Datasets/QUAC/resamplingData/QUAC_GeoOpt_AltGenMets.Rdata
!Datasets/QULO/resamplingData/QULO_GeoOpt_AltGenMets.Rdata
!Datasets/VILA/resamplingData/VILA_GeoOpt_AltGenMets.Rdata
!Datasets/YUBR/resamplingData/YUBR_GeoOpt_AltGenMets.Rdata

# Folder of GIS files (for geographic/ecological analyses). Included in this folder are the .shp files used for 
# calculating geographic range for different species. These are too large (> 50MB) to be included on the repository.
Datasets/GIS_shpFiles/

# STRUCTURE input file for Pinus contorta dataset (PICO). This file is referenced in the Demo_PICO.R script, but is too large
# (> 50MB) to be included on the repository.
Datasets/PICO/Genetic/Pine_NaturalComp_85SNPfilter.stru

# Subset VCF file for Arabidopsis thaliana dataset (ARTH). This file is referenced in the Demo_ARTH.R script, but is too large
# (> 50 MB) to be included on the repository.
Datasets/ARTH/Genetic/ARTH_10k.vcf

# Data inputs (both genetic and geographic) for Hibiscus waimeae. The genetic data cannot be shared on GitHub because
# the VCF size is greater than 50 MB. The geographic data cannot be shared because coordinates are protected (as this
# is a threatened, rare plant)
Datasets/HIWA/*

# Data inputs (both genetic and geographic) for Conradina glabra. The genetic data cannot be shared on GitHub because
# the VCF size is greater than 50 MB. The geographic data cannot be shared because coordinates are protected (as this
# is a threatened, rare plant)
Datasets/COGL/*

# Data inputs (both genetic and geographic) for Amsonia tharpii. The genetic data isn't shared on GitHub because
# analyses have not been published yet. The geographic data cannot be shared because coordinates are protected (as this
# is a threatened, rare plant)
Datasets/AMTH/*

# Miscellaneous files and scripts which have been used in different phases of this project are stored
# in an Archive folder.
Archive/
