# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# %%% IGNORED FILES/FOLDERS FOR GEOGRAPHIC GENETIC CORRELATION PROJECT %%%
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

# The files and folders specified in this file are not tracked in the GitHub repository for the GeoGenCorr project. 
# A brief explanation of each file is provided above each one, and files are largely grouped by folders.

# Any Rhistory/Rdata files
*.Rhistory
*.RData
